<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta lang="es" charset="UTF-8">
    <title>Footer</title>
    <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<body th:fragment="body">
<p style="text-align: center">© 2021 - Universidad El Bosque - Estefanía Galindo - Gabriel Blanco</p>
<p style="text-align: center">Powered by <b><i class="fab fa-java"></i></b> <i class="fab fa-microsoft" style="color: rgb(0, 127, 255)"></i></p>
</body>
</html>